<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-datasource.xml"/>

    <bean id="genericDAO" class="app.dao.impl.GenericDAO" abstract="true">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="ProductDAOImpl" class="app.dao.impl.ProductDAOImpl" parent="genericDAO"/>
    <bean id="ProductDetailsDAOImpl" class="app.dao.impl.ProductDetailDAOImpl" parent="genericDAO"/>
    <bean id="OrderDAOImpl" class="app.dao.impl.OrderDAOImpl" parent="genericDAO"/>
    <bean id="OrderDetailDAOImpl" class="app.dao.impl.OrderDetailDAOImpl" parent="genericDAO"/>
    <bean id="SupplierDAOImpl" class="app.dao.impl.SupplierDAOImpl" parent="genericDAO"/>
    <bean id="AccountDAOImpl" class="app.dao.impl.AccountDAOImpl" parent="genericDAO"/>
</beans>
